# https://help.ui.com/hc/en-us/articles/220066768
---
- name: Install requirements
  ansible.builtin.apt:
    name:
      - ca-certificates
      - apt-transport-https
      - gpg
      - xz-utils  # For installing deb file with apt module
    state: present
    update_cache: true

- name: Download Unifi GPG key
  ansible.builtin.get_url:
    url: https://dl.ui.com/unifi/unifi-repo.gpg
    dest: /etc/apt/keyrings/unifi-repo.gpg
    owner: root
    group: root
    mode: '0644'

- name: Convert Unifi GPG key to ASCII-armored format
  ansible.builtin.shell:
    chdir: /etc/apt/keyrings
    cmd: gpg --keyring ./unifi-repo.gpg --no-default-keyring --export -a > unifi-repo.asc
    creates: /etc/apt/keyrings/unifi-repo.asc

- name: Add Unifi repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/unifi-repo.asc arch=amd64,arm64] https://dl.ui.com/unifi/debian stable ubiquiti"

- name: Download MongoDB
  ansible.builtin.get_url:
    url: https://repo.mongodb.org/apt/ubuntu/dists/noble/mongodb-org/8.0/multiverse/binary-amd64/mongodb-org-server_8.0.17_amd64.deb
    dest: /root/mongodb-org-server_8.0.17_amd64.deb
    checksum: sha256:d40ae0465dd5da4dcfdd0c9ba6bbfc17a35cf04b64e76576eefb42566b5ec25b
    owner: root
    group: root
    mode: '0644'

- name: Check if mongodb-org-server is installed
  ansible.builtin.command:
    cmd: dpkg-query -W mongodb-org-server
  register: mongodb_deb_installed
  failed_when: mongodb_deb_installed.rc > 1
  changed_when: mongodb_deb_installed.rc == 1

- name: Install mongodb-org-server  # noqa no-handler
  ansible.builtin.apt:
    deb: /root/mongodb-org-server_8.0.17_amd64.deb
  when: mongodb_deb_installed.changed

- name: Install unifi
  ansible.builtin.apt:
    name: unifi
    state: present
    update_cache: true

- name: Start and enable unifi
  ansible.builtin.systemd_service:
    name: unifi
    state: started
    enabled: true
