# https://help.ui.com/hc/en-us/articles/220066768
---
- name: Install requirements
  ansible.builtin.apt:
    name:
      - ca-certificates
      - apt-transport-https
      - gpg
      - xz-utils  # For installing deb file with apt module
    state: present
    update_cache: true

- name: Download Unifi GPG key
  ansible.builtin.get_url:
    url: https://dl.ui.com/unifi/unifi-repo.gpg
    dest: /etc/apt/keyrings/unifi-repo.gpg
    owner: root
    group: root
    mode: '0644'

- name: Convert Unifi GPG key to ASCII-armored format
  ansible.builtin.shell:
    chdir: /etc/apt/keyrings
    cmd: gpg --keyring ./unifi-repo.gpg --no-default-keyring --export -a > unifi-repo.asc
    creates: /etc/apt/keyrings/unifi-repo.asc

- name: Add Unifi repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/unifi-repo.asc arch=amd64,arm64] https://dl.ui.com/unifi/debian stable ubiquiti"

- name: Download MongoDB GPG key
  ansible.builtin.get_url:
    url: https://www.mongodb.org/static/pgp/server-8.0.asc
    dest: /etc/apt/keyrings/mongodb-repo.gpg
    owner: root
    group: root
    mode: '0644'

- name: Convert MongoDB GPG key to ASCII-armored format
  ansible.builtin.shell:
    chdir: /etc/apt/keyrings
    cmd: cat /etc/apt/keyrings/mongodb-repo.gpg | gpg -o mongodb-repo.asc --dearmor
    creates: /etc/apt/keyrings/mongodb-repo.asc

- name: Add MongoDB repo
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/mongodb-repo.asc arch=amd64,arm64] https://repo.mongodb.org/apt/ubuntu noble/mongodb-org/8.0 multiverse"

- name: Install mongodb-org
  ansible.builtin.apt:
    name: mongodb-org
    state: present
    update_cache: true

- name: Install unifi
  ansible.builtin.apt:
    name: unifi
    state: present
    update_cache: true

- name: Start and enable unifi
  ansible.builtin.systemd_service:
    name: unifi
    state: started
    enabled: true
