PDS_PORT={{ pds_port }}
PDS_HOSTNAME={{ pds_hostname }}
PDS_SERVICE_NAME={{ pds_service_name }}
PDS_CONTACT_EMAIL_ADDRESS={{ pds_contact_email_address }}
PDS_ACCEPTING_REPO_IMPORTS={{ pds_accepting_repo_imports }}
PDS_BLOB_UPLOAD_LIMIT={{ pds_blob_upload_limit }}
PDS_DEV_MODE={{ pds_dev_mode }}
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX={{ pds_plc_rotation_key }}
PDS_DATA_DIRECTORY={{ pds_data_directory }}
PDS_BLOBSTORE_S3_BUCKET={{ pds_blobstore_s3_bucket }}
PDS_BLOBSTORE_S3_REGION={{ pds_blobstore_s3_region }}
PDS_BLOBSTORE_S3_ENDPOINT={{ pds_blobstore_s3_endpoint }}
PDS_BLOBSTORE_S3_FORCE_PATH_STYLE={{ pds_blobstore_s3_force_path_style }}
PDS_BLOBSTORE_S3_ACCESS_KEY_ID={{ pds_blobstore_s3_access_key_id }}
PDS_BLOBSTORE_S3_SECRET_ACCESS_KEY={{ pds_blobstore_s3_secret_access_key }}
PDS_DID_PLC_URL={{ pds_did_plc_url }}
PDS_INVITE_REQUIRED={{ pds_invite_required }}
PDS_EMAIL_SMTP_URL={{ pds_email_smtp_url }}
PDS_EMAIL_FROM_ADDRESS={{ pds_email_from_address }}
PDS_RATE_LIMITS_ENABLED={{ pds_rate_limits_enabled }}
{% if pds_rate_limits_enabled -%}
PDS_RATE_LIMIT_BYPASS_KEY={{ pds_rate_limit_bypass_key }}
PDS_RATE_LIMIT_BYPASS_IPS={{ pds_rate_limit_bypass_ips }}
{% endif -%}
PDS_CRAWLERS={{ pds_crawlers }}
PDS_JWT_SECRET="{{ pds_jwt_secret }}"
PDS_ADMIN_PASSWORD={{ pds_admin_password }}
LOG_ENABLED={{ pds_log_enabled }}
LOG_LEVEL={{ pds_log_level }}
LOG_DESTINATION={{ pds_log_destination }}
