server {
    listen 80 default_server;
    server_name {{ slskd_hostname }};
    return 301 https://$server_name$request_uri;
}

server {
    server_name {{ slskd_hostname }};

    # TLS version and cipher settings are in nginx.conf
    listen 443 ssl default_server;
    ssl_certificate {{ slskd_tls_cert }};
    ssl_certificate_key {{ slskd_tls_key }};

    location / {
        proxy_pass http://127.0.0.1:5030;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_request_buffering off;
    }

    client_max_body_size 0;

    location ~ /\.ht {
        deny all;
    }
}
